*{
    margin: 0%;
    padding: 0%;
    text-align: center;
}
h1{
    background-color: rgba(24, 24, 51, 0.781);
    color: aliceblue;
    height: 5   rem;
    text-align: center;
    line-height: 5rem;
}
.choice {
    height: 220px;
    width: 220px;
    border-radius: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .choice:hover {
    cursor: pointer;
    background-color: #081b31;
  }


img{
    

    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;

}
.choices
{
    display: flex ;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    margin-top: 8rem;
}
.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    margin-top: 8rem;
    gap: 5rem;
  }
  .msg-container
  {
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

  }
  #msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    
    
  }

